:root {
  background-color: #555555;
  color: #FFFFFF;
}

#main {
  background-color: #232323;
  margin-top: 250px;
  padding-left: 50px;
  padding-right: 50px;
}

input[type="button"] {
  cursor: pointer;
  border-radius: 3px;
}

#header span:first-of-type {
  margin-left: 50px;
}

#header span {
  position: relative;
  top: 25px;
}

#header div {
  margin-left: 100px;
  position: relative;
  top: 30px;
}

span.netflix {
  font-weight: bold;
}

span.netflix-color {
  color: #F65261;
}

.inline-div {
  display: inline-block;
}

#btn-add-movie {
  position: absolute;
  color: #F65261;
  background-color: rgba(55, 55, 55, 0.8);
  border-style: none;
  height: 40px;
  width: 120px;
  right: 50px;
  top: 25px;
}

#find-your-movie {
  font-size: 20px;
  position: absolute;
  top: 75px;
  left: 100px;
}
